body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    min-height: 42px;
    background-color: #ef5122;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    padding-left: 0;
    margin: auto 16px;
}
.nav-item {
    list-style: none;
    padding: 0 10px;
    color: #fff;
}

.form-container {
    padding: 30px;
    background-color: #999;
}

.form {
    background-color: #fff;
    padding: 20px;
}

.form_row {
    display: flex;
    margin: 20px;
}
.form_label {
    min-width: 100px;
}
.form_input {
    flex: 1;
}

.column-layout {
    margin-top: 32px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
}
.main-column {
    flex: 3;
}
.sidebar-two {
    flex: 1;
}

.feature-layout {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}
.feature-item {
    padding: 12px 16px;
    flex-basis: 30%;
}
.feature-item:nth-child(1) {
    background-color: cyan;
}

.feature-item:nth-child(2) {
    background-color: pink;
}

.feature-item:nth-child(1) {
    background-color: antiquewhite;
}
